*.pyc
*.db
*.pid
*.cache/
checkpoint
.ipynb_checkpoints/
*.meta
*.index
*.data*
__pycache__/
*.gz
*.p
*.zip
cifar-10-batches-py
fast-style-transfer
flappy-bird
siraj-regression
.floydexpt
.floydignore