*.pyc
*.db
*.pid
*.cache/
checkpoint
.ipynb_checkpoints/
*.meta
*.index
*.data*
__pycache__/
*.gz
*.p
*.zip
*.pkl
*.mat
*.csv
*.zip.st
cifar-10-batches-py
fast-style-transfer
flappy-bird
siraj-regression
.floydexpt
.floydignore
4-Generative-Adversarial-Net/Project-5/data/*
4-Generative-Adversarial-Net/Deep-Conv-GAN-House-Num/data/*
*/checkpoints/*
sandbox/language-translation-demo/data
sandbox/fast-style-transfer